language: php
php:
    - 5.5
    - 5.6
    - 7.0
    - hhvm
matrix:
    allow_failures:
        - php: hhvm
    fast_finish: true
sudo: false
cache:
    directories:
        - "$HOME/.composer/cache"
install:
    - travis_retry composer install --no-interaction --prefer-source --dev
script:
    - vendor/bin/phpunit
    - vendor/bin/php-cs-fixer fix --dry-run --diff --verbose
